{% extends "base.html.twig" %}

{% block body %}
    {% for product in allTheProducts %}
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.picture }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}€</p>
            <a href="/details/{{ product.id }}" class="btn btn-primary">Show more</a>
        </div>
        </div>
    {% endfor %}
{% endblock %}